@page "/"
@namespace Home.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" asp-append-version="true">
    <link rel="manifest" href="/icons/site.webmanifest" asp-append-version="true">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" asp-append-version="true" color="#7c8e93">
    <link rel="shortcut icon" href="/icons/favicon.ico" asp-append-version="true">
    <meta name="apple-mobile-web-app-title" content="Home of Davepermen">
    <meta name="application-name" content="Home of Davepermen">

    <title>home of davepermen</title>
    <meta name="description" content="Homepage of Davepermen">
    <meta property="og:type" content="website">
    <meta property="og:title" content="davepermen.net">
    <meta property="og:description" content="Homepage of Davepermen">
    <meta property="og:image" content="/background.webp?v=ngj4yrGxlX">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="~/" />
    <link href="all.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script>
        window.onpageshow = function (event) {
            console.log(`location: ${document.location}, state: ${JSON.stringify(event.state)}`)
        }

        window.BackgroundSwitcher = {
            Switch: function (source) {
                console.log("set background to: " + (document.location.pathname == '/' ? '/home' : document.location.pathname))
                document.querySelector('body').style.backgroundImage = "url('" + (document.location.pathname == '/' ? '/home' : document.location.pathname) + ".webp')"
                return true
            }
        };
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
