@page
@model Home.Pages.IndexModel
  
    <!DOCTYPE html>
    <html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">

        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" asp-append-version="true">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" asp-append-version="true">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" asp-append-version="true">
        <link rel="manifest" href="/icons/site.webmanifest" asp-append-version="true">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" asp-append-version="true" color="#7c8e93">
        <link rel="shortcut icon" href="/icons/favicon.ico" asp-append-version="true">
        <meta name="apple-mobile-web-app-title" content="Davepermen">
        <meta name="application-name" content="Davepermen">

        <title>Davepermen</title>
        <meta name="description" content="Homepage of Davepermen">
        <meta property="og:type" content="website">
        <meta property="og:title" content="davepermen.net">
        <meta property="og:description" content="Homepage of Davepermen">
        <meta property="og:image" content="/background.jpg?v=ngj4yrGxlX">

        <meta name="viewport" content="width=device-width">
        <base href="~/">
        <link rel="stylesheet" href="/style.min.css" asp-append-version="true" type="text/css">
    </head>
    <body>
        <main>
            <h1>home.davepermen.net</h1>
            <section>
                <h1>me</h1>
                <span>my name is David Spörri</span>
                <span>I'm living in Switzerland</span>
                <span>you can find me on <a href='https://twitter.com/davepermen' target="_blank">twitter</a></span>
                <span>or drop me a mail at <a href='mailto:davepermen@hotmail.com'>davepermen@hotmail.com</a></span>
                <span>you can even call/sms/whatsapp me on <a href='tel:0041797732101'>+41 (0)79 773 21 01</a></span>
            </section>
            <section>
                <h1>music</h1>
                <span>I'm on <a href='https://soundcloud.com/davepermen' target="_blank">soundcloud</a></span>
                <span>and on <a href='https://www.mixcloud.com/davepermen' target="_blank">mixcloud</a></span>
                <span>you can even find me on <a href='https://davepermen.bandcamp.com' target="_blank">bandcamp</a></span>
            </section>
            <section>
                <h1>code</h1>
                <span>I'm on <a href='http://github.com/davepermen' target="_blank">github</a></span>
            </section>
        </main>

        <footer>
            <span>want to donate? <a href='https://www.paypal.me/davepermen' target="_blank">click here</a></span>
            <span>want 1600km of free Supercharging on a new Tesla? <a href='https://www.tesla.com/referral/david83185' target="_blank">click here (referral link)</a></span>
            <span>&copy; David Spörri 2020</span>
            <span>.net @Environment.Version</span>
            <a href="https://www.republik.ch/2019/04/08/die-schoenste-klimagrafik-der-welt" target="_blank">
                <img src="/die-schoenste-klimagrafik-der-welt.svg" asp-append-version="true" alt="Wärmestreifen Schweiz" />
            </a>
        </footer>
    </body>
</html>
