@page "/music"

<tile-group>
    <h1>Weather forecast</h1>
    <tile size="wide">This component demonstrates fetching data from a service.</tile>
    <tile size="big" style="overflow: hidden">

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>999</td>
                    <td>777</td>
                    <td>778</td>
                    <td>977</td>
                </tr>
            </tbody>
        </table>
    </tile>
</tile-group>